PORT=3000
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/mantenimientos_db?schema=public"
JWT_SECRET="gcm_super_secret_key_for_jwt_tokens"

# Opción 1: Gmail
SMTP_PROVIDER="gmail"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="tu-correo@gmail.com"
SMTP_PASS="tu-contraseña-de-aplicacion"
SMTP_FROM="tu-correo@gmail.com"
SMTP_SECURE=false

# Opción 2: Hotmail / Outlook
# SMTP_PROVIDER="hotmail"
# SMTP_HOST="smtp-mail.outlook.com"
# SMTP_PORT=587
# SMTP_USER="tu-correo@hotmail.com"
# SMTP_PASS="tu-clave-o-contraseña-de-aplicacion"
# SMTP_FROM="tu-correo@hotmail.com"
# SMTP_SECURE=false
